
@font-face{
	font-family: "Dirty Brush";
	src:url("./DB.ttf");
	src:url("./DB.woff");
	src:url("./DB.woff");
}
#main-heading{
	color:white;
	text-decoration: none;
	font-size: 4rem;
	font-family: Dirty Brush;
}


@media (max-width: 746px){
	.bm-icon,button {
		display: none;
	}
	#header {
		padding: 10px;

	}
	#main-heading{
		font-size: 3rem;

	}
}